body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #b6de79;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
  color: #74d2d9;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  background-color: gold;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background 0.3s;
  color: red;
}

.cell:hover {
  background-color: #ddd;
}

#message {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

#reset {
  margin-top: 15px;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
 background-color: #7cebed;
 border-radius:30px;
  
}
.win {
  background-color: #90ee90; /* light green */
  color: #006400; /* dark green text */
  font-weight: bold;
}
a {
  color:red;
  
  
}
